@use 'variables'

html
    font-size: 62.5%

body
    font-family: "Open Sans", sans-serif
    font-size: 2rem
    color: variables.$primary-color

a
    text-decoration: none
    color: variables.$primary-color

.main-content
    max-width: 1200px
    margin: 0 auto
    padding: variables.$gap
    
.section
    min-height: 100vh